/* Created by Aditya */ 
 
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::placeholder{
    color: white;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #424874;
  font-family: "Poppins", sans-serif;
}
.container {
  height: auto;
  padding: 30px;
  width: 400px;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #a6b1e1;
  transition: all ease 0.5s;
  box-shadow: 0 0 20px #2e3254;
}
.container:hover {
  box-shadow: 0 0px 0px -16px black;
}

.head {
  width: 100%;
  display: flex;
  align-items: center;
}

.cont_head {
  color: #2e3254;
  width: 100%;
  height: 70px;
}

.input {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.input textarea {
  border: none;
  outline: none;
  width: 100%;
  border-radius: 5px;
  padding: 10px 10px 140px;
  background-color: transparent;
  color: #2e3254;
  border: 1px solid #424874;
  font-family: 'Poppins', sans-serif;
}
.output{
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #2e3254;
    padding-top: 20px;
}
.big{
    font-size: 20px;
    font-weight: bold;
}
.tag{
    color: #424874;
}

.footer{
  padding: 10px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  width: 100%;
  font-weight: lighter;
  font-family: 'Borel', cursive;
}
.footer a {
  color: white;
}

@media screen and (max-width:400px) {
    .container{
        transform: scale(0.8);
    }
}
a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
a:active{
    color:black;
    font-size: 15px;
    background-color: white;
}
.button-1{
    height: 50px;
    margin-top: 10px;
    background-color: red;
    width: 160px;
    box-shadow: none;
    border-radius: 3px;
    

}
.button-1:active{
    background-color: white;
    color: black;

}
.button-2{
    height: 50px;
    margin-top: 10px;
    background-color: red;
    width: 160px;
    box-shadow: none;
    border-radius: 3px;
    

}
.button-2:active{
    background-color: white;
    color: black;

}
